.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: auto;
  margin-left: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-family: arial;
  border-radius: 10%;
  height: 220px;
}

img {
  border-radius: 50%;
  vertical-align: middle;
  width: 100px;
  height: 100px;
}

.landingCards {
  margin-top: -20%;
}

button:hover,
a:hover {
  opacity: 0.7;
}
