ul {
  padding-bottom: 10px;
  margin-left: -90%;
}

li {
  color: gray;
  cursor: pointer;
}

.topnav {
  overflow: hidden;
}

.topnav li {
  /* float: left; */
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 2px solid transparent;
}

.topnav li:hover {
  border-bottom: translate(5px solid red);
  transform: translateX(-1%);
}

/* .topnav li.active {
  border-bottom: 3px solid red;
} */
